* {
    margin: 0;
    padding: 0;
}

.clr{
    clear:both;
}

#main-header {
    background-color: black;
    color: #ddd;
    text-align: center;
    font-family: tahoma;
    padding: 2em;
}

#main-footer {
    position:fixed;
    left:30%;
    right:30%;
    bottom:0px;
    display: inline;
}

#blackjackName {
    color:red;
}

#headerSubtitle{
    color:#aaa;
}

.container{
    text-align:center;
} 

.button {
    background-color:#ddd;
    color: black;
    padding: 10px 15px;
    margin: 10px;
    border: none; 
}

.button:hover {
    background-color:#aaa;
}

.button:active{
    background-color: red;
    color: white;
}

#rules {
    display:none;
    width:60%;
    margin:auto;
}

.rule-block {
    float:left;
    width:24%;
    margin: 2px;
    padding:10px;
    box-sizing:border-box;
    border-left:1px black solid;
    border-right:1px black solid;
    height:450px;
    overflow: hidden;
}

.rule-sub {
    display:block;
    font-style: italic;
    font-weight:800;
    font-size: 20;
}

.rule {
    display:block;
    text-align: center;
    margin:auto;
    padding: 10px;
    /* border-bottom: 1px black solid; */
    
}

#dealButton {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#rulesButton {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#hitButton {
    display:none;
}

#standButton {
    display:none;
}



