* {
    margin: 0;
    padding: 0;
}

.clr{
    clear:both;
}

#main-header {
    background-color: black;
    color: #ddd;
    text-align: center;
    font-family: tahoma;
    padding: 2em;
}

#main-footer {
    position:fixed;
    left:30%;
    right:30%;
    bottom:10px;
    display: inline;
}

#blackjackName {
    color:red;
}

#headerSubtitle{
    color:#aaa;
}

.container{
    text-align:center;
} 

.button {
    background-color:#ddd;
    color: black;
    padding: 10px 15px;
    margin: 10px;
    border: none; 
}

.button:hover {
    background-color:#aaa;
}

.button:active{
    background-color: red;
    color: white;
}

#rules {
    display:none;
    width:60%;
    margin:auto;
}

.rule-block {
    float:left;
    width:24%;
    margin: 2px;
    padding:10px;
    box-sizing:border-box;
    border-left:1px black solid;
    border-right:1px black solid;
    height:450px;
    overflow: hidden;
}

.rule-sub {
    display:block;
    font-style: italic;
    font-weight:800;
    font-size: 20;
}

.rule {
    display:block;
    text-align: center;
    margin:auto;
    padding: 10px;
    /* border-bottom: 1px black solid; */
    
}

#dealButton {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#rulesButton {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#gameSpace {
    width:80%;
    position:relative;
    height:auto;
    margin:auto;
    /* border:1px black solid; */
}

#choices{
    display:none;
    position:fixed;
    bottom:50px;
    left:30%;
    right:30%;
    margin:auto;
}

.card {
    max-height:12em;
    width:132.219px;
    position:absolute;
    padding:10px;
}

#deck {
    filter:drop-shadow(0px 11px 0px #444);
    position:absolute;
    right: 0px;
    top:10px;
    visibility:hidden;
}

#counter {
    visibility: hidden;
    position:absolute;
    color: red;
    font-size:5em;
    top:313px;
    right:0px;
    left:0px;
    bottom:0px;
    z-index: 100;
}
#dealerCounter {
    visibility: hidden;
    position:absolute;
    color: red;
    font-size:5em;
    top:237px;
    right:0px;
    left:0px;
    bottom:0px;
    z-index: 100;
}

#playAgain {
    display:none;
}